/* ManagePublications.module.css */
.container {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    margin-top: 80px;
    margin-left: auto; /* Center horizontally */
    margin-right: auto; /* Center horizontally */
    width: 60%; /* Adjust this value to move everything below the navbar */

}

.managePublicationsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-top: 100px;
}

.title {
    padding-top: 5px;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    color: black;
}

.searchBarContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    width: 70%;
}
.searchBarContainer input {
    padding: 10px;
    font-size: 1em;
    border-radius: 20px !important;
    width: 100%;
    border: 1px solid #090E50 !important;
}

.searchBarContainer button {
    padding: 10px 20px;
    margin-left: 10px; /* Adds space between the input and button */
    font-size: 1em;
    color: #090E50;
    background-color: #F5F5F5; /* Blue color */
    border: 1.5px solid #090E50;
    border-radius: 20px;
    cursor: pointer;
    width: 100px;
}


.searchBarContainer button:hover {
    background-color: #090E50;
    color: #F5F5F5;
}

.publicationsListContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.publicationCard {
    background-color: #f5f5f5;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 70%;
}

.publicationCard h3 {
    color: #007bff;
    font-weight: bold;
}

.publicationCard a {
    color: #007bff;
    text-decoration: none;
}

.publicationInfo {
    color: #333;
    margin-top: 10px;
}

.actionsContainer {
    margin-top: 10px;
    display: flex;
    width: 100%;
    gap: 10px;
}

.actionsContainer button {
    flex-grow: 1;
    padding: 10px;
    font-size: 1em;
    color: #090E50;
    background-color: #F5F5F5;
    border: 1.5px solid #090E50;
    border-radius: 5px;
    cursor: pointer;
}

.actionsContainer button:hover {
    background-color: #090E50;
    color: #F5F5F5;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination button {
    color: #090E50;
    background-color: #F5F5F5;
    border: 1.5px solid #090E50;
    cursor: pointer;
    margin: 0 5px;
    padding: 10px 15px;
    border-radius: 5px;
}

.pagination button:hover {
    background-color: #090E50;
    color: #F5F5F5;
}

.pagination button:disabled {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
}

.pagination .active {
    background-color: #090E50;
    color: #F5F5F5;
}